---

- name: Ambrosia application deployment
  hosts: "{{ Environment }}_{{ app_name }}_{{grp}}"
  vars_files:
    - "../environments/{{pod}}/{{ Environment }}/hosts/group_vars/var.yml"

  become: true
  become_method: sudo
  become_user: "{{ ansible_become_user }}"
  vars:
    app_name: activity-notifications
    app_port: "{{ activity_notifications_port }}"
    expose_port: "{{ activity_notifications_env_port }}"
    app_env: "{{ activity_notifications_app_env }}"
    ansible_become_user: "{{ ansible_become_user }}"

  environment:
    TEMP: "{{user_home}}/apps/tmp"

  tasks:
#     - include_role:
#         name: "../roles/shield_disable"
#       when:  (pod != 'QA' and traffic != 'netscalar')

#     - include_role:
#         name: "../roles/internal_ui"
#       when:  pod != 'QA'

     - include_role:
         name: "../roles/activity-sox-apps"
       when:  pod == 'QA'

#     - include_role:
#         name: "../roles/shield_enable"
#       when:  (pod != 'QA' and traffic != 'netscalar')

  gather_facts: true
