---

- name: Ambrosia application deployment
  hosts: "{{ Environment }}_{{ app_name }}_{{grp}}"
  vars_files:
    - "../environments/{{pod}}/{{ Environment }}/hosts/group_vars/var.yml"

  become: true
  become_method: sudo
  become_user: "{{ ansible_become_user }}"
  vars:
    app_name: Ambrosia
    app_port: "{{ Ambrosia_port }}"
    app_version: "{{ Ambrosia_version }}"
    expose_port: "{{ Ambrosia_env_port }}"
    ansible_become_user: "{{ ansible_become_user }}"
    token: "{{ token }}"
    vault_pass: "{{ vault_pass }}"
    docker_user: "{{docker_user}}"

  environment:
    TEMP: "{{user_home}}/apps/tmp"

  tasks:
#     - include_role:
#         name: "../roles/shield_disable"
#       when:  (pod != 'QA' and traffic != 'netscalar')

#     - include_role:
#         name: "../roles/internal_ui"
#       when:  pod != 'QA'

     - include_role:
         name: "../roles/ambrosia_appconfig"
       when:  pod != 'QA'

#     - include_role:
#         name: "../roles/shield_enable"
#       when:  (pod != 'QA' and traffic != 'netscalar')

  gather_facts: true
  post_tasks:
    - include_role:
        name: "../roles/post"
      when: pod == 'QA'
