---

- name: ESTools application deployment
  hosts: "{{ Environment }}_{{ app_name }}_{{grp}}"
  vars_files:
    - "../environments/{{pod}}/{{ Environment }}/hosts/group_vars/var.yml"

  become: true
  become_method: sudo
  become_user: "{{ ansible_become_user }}"
  vars:
    app_name: ESTools
    app_port: "{{ ESTools_port }}"
    app_version: "{{ ESTools_version }}"
    expose_port: "{{ ESTools_env_port }}"
    profile: "{{ ESTools_profile }}"
    ansible_become_user: "{{ ansible_become_user }}"
    docker_user: "{{docker_user}}"
    healthcheck: "estools/actuator/health"

  environment:
    TEMP: "{{user_home}}/apps/tmp"

  tasks:
     #- include_role:
      #   name: "../roles/shield_disable"
       #when: pod == 'esim-nc1' or pod == 'esim-rn1' or pod == 'nc' or pod == 'nwk' or  pod == 'rn'
     - include_role:
        name: "../roles/ESapps"
       when: ( pod ==  'QA' or pod == 'stg' or pod == 'nc' or pod == 'rn')

     - include_role:
        name: "../roles/ESChina"
       when: ( pod ==  'QA_CHINA' or pod == 'stg_CHINA' or pod == 'nc_CHINA' or pod == 'rn_CHINA')
     #- include_role:
      #  name: "../roles/shield_enable"
       #when: pod == 'esim-nc1' or pod == 'esim-rn1' or pod == 'nc' or pod == 'nwk' or  pod == 'rn'

  gather_facts: true
  post_tasks:
    - include_role:
        name: "../roles/post"
      when: pod == 'QA'
