---

- name: Fondue2 application deployment
  hosts: "{{ Environment }}_{{ app_name }}_{{grp}}"
  vars_files:
    - "../environments/{{pod}}/{{ Environment }}/hosts/group_vars/var.yml"

  become: true
  become_method: sudo
  become_user: "{{ ansible_become_user }}"
  vars:
    app_name: Fondue2
    app_port: "{{ Fondue2_port }}"
    app_version: "{{ Fondue2_version }}"
    expose_port: "{{ Fondue2_env_port }}"
    ansible_become_user: "{{ ansible_become_user }}"
    token: "{{ token }}"
    vault_pass: "{{ vault_pass }}"
    docker_user: "{{docker_user}}"
    healthcheck: "fondue2/actuator/health"

  environment:
    TEMP: "{{user_home}}/apps/tmp"

  tasks:
#     - include_role:
#         name: "../roles/shield_disable"
#       when:  (pod != 'QA' and traffic != 'netscalar')

     - include_role:
         name: "../roles/springboot"

#     - include_role:
#         name: "../roles/shield_enable"
#       when:  (pod != 'QA' and traffic != 'netscalar')

  gather_facts: true
  post_tasks:
    - include_role:
        name: "../roles/post"
      when: pod == 'QA'
