---

- name: Phoenix application deployment
  hosts: "{{ Environment }}_{{ app_name }}_{{grp}}"
  vars_files:
    - "../environments/{{pod}}/{{ Environment }}/hosts/group_vars/var.yml"
  become: true
  become_method: sudo
  become_user: "{{ ansible_become_user }}"

  vars_prompt:

    - name: "action"
      prompt: "Please enter the command you wish to use against all apps (status, restart, stop or start)"
      default: "status"
      private: no

  vars:
    app_name: Phoenix
    app_port: "{{ Phoenix_port }}"
    app_version: "{{ Phoenix_version }}"
    expose_port: "{{ Phoenix_env_port }}"
    ansible_become_user: "{{ ansible_become_user }}"
    token: "{{ token }}"
    vault_pass: "{{ vault_pass }}"
    docker_user: "{{docker_user}}"
    BDB_NAME: "Phoenix-{{ansible_fqdn}}"

  environment:
    TEMP: "{{user_home}}/apps/tmp"

  tasks:
   #  - include_role:
   #      name: "../roles/shield_disable"
   #   when:  (pod != 'QA' and pod != 'stg' and traffic != 'netscalar')

     - include_role:
         name: "../roles/phoenix"
       when:  (pod != 'QA')

     - include_role:
         name: "../roles/phoenix_appconfig"
       when:  (pod == 'QA')



   #  - include_role:
   #     name: "../roles/shield_enable"
   #    when:  (pod != 'QA' and pod != 'stg' and traffic != 'netscalar')
  gather_facts: true
  #post_tasks:
  #  - include_role:
  #      name: "../roles/post"
  #    when: pod == 'QA'
