---

- name: Rabbitmq deployment
  hosts: "{{ Environment }}_{{ app_name }}_{{grp}}"
  vars_files:
    - "../environments/{{pod}}/{{ Environment }}/hosts/group_vars/var.yml"

  become: true
  become_method: sudo
  become_user: "{{ ansible_become_user }}"
  vars:
    app_name: rabbitmq
    app_version: "{{ rabbitmq_version }}"
    mgmt_port: "{{ mgmt_port }}" ##container 1
    amqp_port: "{{ amqp_port }}"  ##container 1
    amqps_port: "{{ amqps_port }}"  ##container 1
    discover_port: "{{ discover_port }}"  ##container 2
    cluster_port: "{{ cluster_port }}"  ##container 2
    ansible_become_user: "{{ ansible_become_user }}"

    token: "{{ token }}"
    vault_pass: "{{ vault_pass }}"
    docker_user: "{{docker_user}}"

  environment:
    TEMP: "{{ user_home }}/tmp"

  tasks:
     - include_role:
         name: "../roles/rabbitmq"

  gather_facts: true
