---

- name: Rogue application deployment
  hosts: "{{ Environment }}_{{ app_name }}_{{grp}}"
  vars_files:
    - "../environments/{{pod}}/{{ Environment }}/hosts/group_vars/var.yml"

  become: true
  become_method: sudo
  become_user: "{{ ansible_become_user }}"
  vars:
    app_name: Rogue
    app_port: "{{ Rogue_port }}"
    app_version: "{{ Rogue_version }}"
    expose_port: "{{ Rogue_env_port }}"
    expose_port1: "{{ Rogue_env_port1 }}"
    expose_port2: "{{ Rogue_env_port2 }}"
    expose_port3: "{{ Rogue_env_port3 }}"
    BDB_NAME: "Rogue-{{ansible_fqdn}}"

    ansible_become_user: "{{ ansible_become_user }}"

  environment:
    TEMP: "{{user_home}}/apps/tmp"

  tasks:
 #   - include_role:
 #      name: "../roles/rogue"
 #     when:  (pod != 'QA')

    - include_role:
        name: "../roles/rogue_appconfig"

  gather_facts: true
  post_tasks:
    - include_role:
        name: "../roles/post"
      when: pod == 'QA'
