---

- name: Splunk application deployment
  hosts: "{{ Environment }}_{{ app_name }}_{{grp}}"
  vars_files:
    - "../environments/{{pod}}/{{ Environment }}/hosts/group_vars/var.yml"
  become: true
  become_method: sudo
  become_user: "{{ ansible_become_user }}"

  vars:
    app_name: splunk

  environment:
    TEMP: "{{user_home}}/apps/tmp"

  tasks:
     - include_role:
         name: "../roles/splunk"

  gather_facts: true
  post_tasks:
    - include_role:
        name: "../roles/post"
      when: pod == 'QA'
